<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="WebAppUrl" value="http://10.63.15.136/CEA_EDU/DigitalContent/CompanyIndex" />-->
    <add key="WebAppUrl" value="http://localhost/CEA_EDU/DigitalContent/CompanyIndex" />
    <add key="AppPath" value="D:\Users\jw_qian\Documents\Visual Studio 2010\Projects\SamePictureTool\SamePictureTool\bin\Debug\SamePictureTool.exe" />
    <add key="time" value="60000" />
  </appSettings>
</configuration>